/* Variables */
/* Fonts */
/* Colors */
.transition {
  transition: all 0.3s ease;
}

.container {
  width: 100%;
}

.max-width-xs {
  max-width: 320px;
}

.max-width-sm {
  max-width: 500px;
}

.max-width-md {
  max-width: 700px;
}

.max-width-lg {
  max-width: 900px;
}

.max-width-xl {
  max-width: 1140px;
}

.height-full {
  height: 100%;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.grow {
  flex-grow: 1;
}

.ar-square {
  aspect-ratio: 1/1;
}

.shrink {
  flex-shrink: 1;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-even {
  justify-content: space-evenly;
}

.items-center {
  align-items: center;
}

.justify-self-end {
  justify-self: end;
}

.color-pink-1 {
  color: #fbe6ec;
}

.bg-pink-1 {
  background-color: #fbe6ec;
}

.color-pink-2 {
  color: #f6c4d1;
}

.bg-pink-2 {
  background-color: #f6c4d1;
}

.color-pink-3 {
  color: #f4b7c6;
}

.bg-pink-3 {
  background-color: #f4b7c6;
}

.color-pink-4 {
  color: #f095ab;
}

.bg-pink-4 {
  background-color: #f095ab;
}

.color-pink-5 {
  color: #ea7793;
}

.bg-pink-5 {
  background-color: #ea7793;
}

.color-gray-1 {
  color: #f2f2fb;
}

.bg-gray-1 {
  background-color: #f2f2fb;
}

.color-gray-2 {
  color: #e9e9f1;
}

.bg-gray-2 {
  background-color: #e9e9f1;
}

.color-gray-3 {
  color: #cfd4e7;
}

.bg-gray-3 {
  background-color: #cfd4e7;
}

.color-gray-4 {
  color: #545477;
}

.bg-gray-4 {
  background-color: #545477;
}

.color-gray-5 {
  color: #101041;
}

.bg-gray-5 {
  background-color: #101041;
}

.color-gray-6 {
  color: #707294;
}

.bg-gray-6 {
  background-color: #707294;
}

.color-red {
  color: #d74467;
}

.bg-red {
  background-color: #d74467;
}

.color-cyan {
  color: #57e2ef;
}

.bg-cyan {
  background-color: #57e2ef;
}

.color-white {
  color: #fefefe;
}

.bg-white {
  background-color: #fefefe;
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.m-0 {
  margin: 0rem;
}

.mx-0 {
  margin-left: 0rem;
  margin-right: 0rem;
}

.my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.ml-0 {
  margin-left: 0rem;
}

.mr-0 {
  margin-right: 0rem;
}

.mt-0 {
  margin-top: 0rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.p-0 {
  padding: 0rem;
}

.px-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}

.py-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.pl-0 {
  padding-left: 0rem;
}

.pr-0 {
  padding-right: 0rem;
}

.pt-0 {
  padding-top: 0rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.m-1 {
  margin: 0.25rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.p-1 {
  padding: 0.25rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.p-2 {
  padding: 0.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.m-3 {
  margin: 1rem;
}

.mx-3 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ml-3 {
  margin-left: 1rem;
}

.mr-3 {
  margin-right: 1rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.p-3 {
  padding: 1rem;
}

.px-3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pl-3 {
  padding-left: 1rem;
}

.pr-3 {
  padding-right: 1rem;
}

.pt-3 {
  padding-top: 1rem;
}

.pb-3 {
  padding-bottom: 1rem;
}

.m-4 {
  margin: 1.2rem;
}

.mx-4 {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

.my-4 {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.ml-4 {
  margin-left: 1.2rem;
}

.mr-4 {
  margin-right: 1.2rem;
}

.mt-4 {
  margin-top: 1.2rem;
}

.mb-4 {
  margin-bottom: 1.2rem;
}

.p-4 {
  padding: 1.2rem;
}

.px-4 {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.py-4 {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.pl-4 {
  padding-left: 1.2rem;
}

.pr-4 {
  padding-right: 1.2rem;
}

.pt-4 {
  padding-top: 1.2rem;
}

.pb-4 {
  padding-bottom: 1.2rem;
}

.m-5 {
  margin: 1.33rem;
}

.mx-5 {
  margin-left: 1.33rem;
  margin-right: 1.33rem;
}

.my-5 {
  margin-top: 1.33rem;
  margin-bottom: 1.33rem;
}

.ml-5 {
  margin-left: 1.33rem;
}

.mr-5 {
  margin-right: 1.33rem;
}

.mt-5 {
  margin-top: 1.33rem;
}

.mb-5 {
  margin-bottom: 1.33rem;
}

.p-5 {
  padding: 1.33rem;
}

.px-5 {
  padding-left: 1.33rem;
  padding-right: 1.33rem;
}

.py-5 {
  padding-top: 1.33rem;
  padding-bottom: 1.33rem;
}

.pl-5 {
  padding-left: 1.33rem;
}

.pr-5 {
  padding-right: 1.33rem;
}

.pt-5 {
  padding-top: 1.33rem;
}

.pb-5 {
  padding-bottom: 1.33rem;
}

.m-6 {
  margin: 1.5rem;
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.p-6 {
  padding: 1.5rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.m-7 {
  margin: 2rem;
}

.mx-7 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-7 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.ml-7 {
  margin-left: 2rem;
}

.mr-7 {
  margin-right: 2rem;
}

.mt-7 {
  margin-top: 2rem;
}

.mb-7 {
  margin-bottom: 2rem;
}

.p-7 {
  padding: 2rem;
}

.px-7 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-7 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pl-7 {
  padding-left: 2rem;
}

.pr-7 {
  padding-right: 2rem;
}

.pt-7 {
  padding-top: 2rem;
}

.pb-7 {
  padding-bottom: 2rem;
}

.m-8 {
  margin: 3rem;
}

.mx-8 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-8 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.ml-8 {
  margin-left: 3rem;
}

.mr-8 {
  margin-right: 3rem;
}

.mt-8 {
  margin-top: 3rem;
}

.mb-8 {
  margin-bottom: 3rem;
}

.p-8 {
  padding: 3rem;
}

.px-8 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-8 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pl-8 {
  padding-left: 3rem;
}

.pr-8 {
  padding-right: 3rem;
}

.pt-8 {
  padding-top: 3rem;
}

.pb-8 {
  padding-bottom: 3rem;
}

.m-9 {
  margin: 4rem;
}

.mx-9 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.my-9 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.ml-9 {
  margin-left: 4rem;
}

.mr-9 {
  margin-right: 4rem;
}

.mt-9 {
  margin-top: 4rem;
}

.mb-9 {
  margin-bottom: 4rem;
}

.p-9 {
  padding: 4rem;
}

.px-9 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py-9 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.pl-9 {
  padding-left: 4rem;
}

.pr-9 {
  padding-right: 4rem;
}

.pt-9 {
  padding-top: 4rem;
}

.pb-9 {
  padding-bottom: 4rem;
}

@media screen and (min-width: 320px) {
  .m-xs-0 {
    margin: 0rem;
  }
  .mx-xs-0 {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .my-xs-0 {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  .ml-xs-0 {
    margin-left: 0rem;
  }
  .mr-xs-0 {
    margin-right: 0rem;
  }
  .mt-xs-0 {
    margin-top: 0rem;
  }
  .mb-xs-0 {
    margin-bottom: 0rem;
  }
  .p-xs-0 {
    padding: 0rem;
  }
  .px-xs-0 {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .py-xs-0 {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  .pl-xs-0 {
    padding-left: 0rem;
  }
  .pr-xs-0 {
    padding-right: 0rem;
  }
  .pt-xs-0 {
    padding-top: 0rem;
  }
  .pb-xs-0 {
    padding-bottom: 0rem;
  }
  .m-xs-1 {
    margin: 0.25rem;
  }
  .mx-xs-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
  .my-xs-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
  .ml-xs-1 {
    margin-left: 0.25rem;
  }
  .mr-xs-1 {
    margin-right: 0.25rem;
  }
  .mt-xs-1 {
    margin-top: 0.25rem;
  }
  .mb-xs-1 {
    margin-bottom: 0.25rem;
  }
  .p-xs-1 {
    padding: 0.25rem;
  }
  .px-xs-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .py-xs-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  .pl-xs-1 {
    padding-left: 0.25rem;
  }
  .pr-xs-1 {
    padding-right: 0.25rem;
  }
  .pt-xs-1 {
    padding-top: 0.25rem;
  }
  .pb-xs-1 {
    padding-bottom: 0.25rem;
  }
  .m-xs-2 {
    margin: 0.5rem;
  }
  .mx-xs-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .my-xs-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .ml-xs-2 {
    margin-left: 0.5rem;
  }
  .mr-xs-2 {
    margin-right: 0.5rem;
  }
  .mt-xs-2 {
    margin-top: 0.5rem;
  }
  .mb-xs-2 {
    margin-bottom: 0.5rem;
  }
  .p-xs-2 {
    padding: 0.5rem;
  }
  .px-xs-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .py-xs-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .pl-xs-2 {
    padding-left: 0.5rem;
  }
  .pr-xs-2 {
    padding-right: 0.5rem;
  }
  .pt-xs-2 {
    padding-top: 0.5rem;
  }
  .pb-xs-2 {
    padding-bottom: 0.5rem;
  }
  .m-xs-3 {
    margin: 1rem;
  }
  .mx-xs-3 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .my-xs-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .ml-xs-3 {
    margin-left: 1rem;
  }
  .mr-xs-3 {
    margin-right: 1rem;
  }
  .mt-xs-3 {
    margin-top: 1rem;
  }
  .mb-xs-3 {
    margin-bottom: 1rem;
  }
  .p-xs-3 {
    padding: 1rem;
  }
  .px-xs-3 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .py-xs-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .pl-xs-3 {
    padding-left: 1rem;
  }
  .pr-xs-3 {
    padding-right: 1rem;
  }
  .pt-xs-3 {
    padding-top: 1rem;
  }
  .pb-xs-3 {
    padding-bottom: 1rem;
  }
  .m-xs-4 {
    margin: 1.2rem;
  }
  .mx-xs-4 {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
  }
  .my-xs-4 {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
  }
  .ml-xs-4 {
    margin-left: 1.2rem;
  }
  .mr-xs-4 {
    margin-right: 1.2rem;
  }
  .mt-xs-4 {
    margin-top: 1.2rem;
  }
  .mb-xs-4 {
    margin-bottom: 1.2rem;
  }
  .p-xs-4 {
    padding: 1.2rem;
  }
  .px-xs-4 {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
  .py-xs-4 {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
  .pl-xs-4 {
    padding-left: 1.2rem;
  }
  .pr-xs-4 {
    padding-right: 1.2rem;
  }
  .pt-xs-4 {
    padding-top: 1.2rem;
  }
  .pb-xs-4 {
    padding-bottom: 1.2rem;
  }
  .m-xs-5 {
    margin: 1.33rem;
  }
  .mx-xs-5 {
    margin-left: 1.33rem;
    margin-right: 1.33rem;
  }
  .my-xs-5 {
    margin-top: 1.33rem;
    margin-bottom: 1.33rem;
  }
  .ml-xs-5 {
    margin-left: 1.33rem;
  }
  .mr-xs-5 {
    margin-right: 1.33rem;
  }
  .mt-xs-5 {
    margin-top: 1.33rem;
  }
  .mb-xs-5 {
    margin-bottom: 1.33rem;
  }
  .p-xs-5 {
    padding: 1.33rem;
  }
  .px-xs-5 {
    padding-left: 1.33rem;
    padding-right: 1.33rem;
  }
  .py-xs-5 {
    padding-top: 1.33rem;
    padding-bottom: 1.33rem;
  }
  .pl-xs-5 {
    padding-left: 1.33rem;
  }
  .pr-xs-5 {
    padding-right: 1.33rem;
  }
  .pt-xs-5 {
    padding-top: 1.33rem;
  }
  .pb-xs-5 {
    padding-bottom: 1.33rem;
  }
  .m-xs-6 {
    margin: 1.5rem;
  }
  .mx-xs-6 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .my-xs-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .ml-xs-6 {
    margin-left: 1.5rem;
  }
  .mr-xs-6 {
    margin-right: 1.5rem;
  }
  .mt-xs-6 {
    margin-top: 1.5rem;
  }
  .mb-xs-6 {
    margin-bottom: 1.5rem;
  }
  .p-xs-6 {
    padding: 1.5rem;
  }
  .px-xs-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .py-xs-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .pl-xs-6 {
    padding-left: 1.5rem;
  }
  .pr-xs-6 {
    padding-right: 1.5rem;
  }
  .pt-xs-6 {
    padding-top: 1.5rem;
  }
  .pb-xs-6 {
    padding-bottom: 1.5rem;
  }
  .m-xs-7 {
    margin: 2rem;
  }
  .mx-xs-7 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .my-xs-7 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .ml-xs-7 {
    margin-left: 2rem;
  }
  .mr-xs-7 {
    margin-right: 2rem;
  }
  .mt-xs-7 {
    margin-top: 2rem;
  }
  .mb-xs-7 {
    margin-bottom: 2rem;
  }
  .p-xs-7 {
    padding: 2rem;
  }
  .px-xs-7 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .py-xs-7 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .pl-xs-7 {
    padding-left: 2rem;
  }
  .pr-xs-7 {
    padding-right: 2rem;
  }
  .pt-xs-7 {
    padding-top: 2rem;
  }
  .pb-xs-7 {
    padding-bottom: 2rem;
  }
  .m-xs-8 {
    margin: 3rem;
  }
  .mx-xs-8 {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .my-xs-8 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .ml-xs-8 {
    margin-left: 3rem;
  }
  .mr-xs-8 {
    margin-right: 3rem;
  }
  .mt-xs-8 {
    margin-top: 3rem;
  }
  .mb-xs-8 {
    margin-bottom: 3rem;
  }
  .p-xs-8 {
    padding: 3rem;
  }
  .px-xs-8 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .py-xs-8 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .pl-xs-8 {
    padding-left: 3rem;
  }
  .pr-xs-8 {
    padding-right: 3rem;
  }
  .pt-xs-8 {
    padding-top: 3rem;
  }
  .pb-xs-8 {
    padding-bottom: 3rem;
  }
  .m-xs-9 {
    margin: 4rem;
  }
  .mx-xs-9 {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .my-xs-9 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .ml-xs-9 {
    margin-left: 4rem;
  }
  .mr-xs-9 {
    margin-right: 4rem;
  }
  .mt-xs-9 {
    margin-top: 4rem;
  }
  .mb-xs-9 {
    margin-bottom: 4rem;
  }
  .p-xs-9 {
    padding: 4rem;
  }
  .px-xs-9 {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .py-xs-9 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .pl-xs-9 {
    padding-left: 4rem;
  }
  .pr-xs-9 {
    padding-right: 4rem;
  }
  .pt-xs-9 {
    padding-top: 4rem;
  }
  .pb-xs-9 {
    padding-bottom: 4rem;
  }
}
@media screen and (min-width: 576px) {
  .m-sm-0 {
    margin: 0rem;
  }
  .mx-sm-0 {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .my-sm-0 {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  .ml-sm-0 {
    margin-left: 0rem;
  }
  .mr-sm-0 {
    margin-right: 0rem;
  }
  .mt-sm-0 {
    margin-top: 0rem;
  }
  .mb-sm-0 {
    margin-bottom: 0rem;
  }
  .p-sm-0 {
    padding: 0rem;
  }
  .px-sm-0 {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .py-sm-0 {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  .pl-sm-0 {
    padding-left: 0rem;
  }
  .pr-sm-0 {
    padding-right: 0rem;
  }
  .pt-sm-0 {
    padding-top: 0rem;
  }
  .pb-sm-0 {
    padding-bottom: 0rem;
  }
  .m-sm-1 {
    margin: 0.25rem;
  }
  .mx-sm-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
  .my-sm-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
  .ml-sm-1 {
    margin-left: 0.25rem;
  }
  .mr-sm-1 {
    margin-right: 0.25rem;
  }
  .mt-sm-1 {
    margin-top: 0.25rem;
  }
  .mb-sm-1 {
    margin-bottom: 0.25rem;
  }
  .p-sm-1 {
    padding: 0.25rem;
  }
  .px-sm-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .py-sm-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  .pl-sm-1 {
    padding-left: 0.25rem;
  }
  .pr-sm-1 {
    padding-right: 0.25rem;
  }
  .pt-sm-1 {
    padding-top: 0.25rem;
  }
  .pb-sm-1 {
    padding-bottom: 0.25rem;
  }
  .m-sm-2 {
    margin: 0.5rem;
  }
  .mx-sm-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .my-sm-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .ml-sm-2 {
    margin-left: 0.5rem;
  }
  .mr-sm-2 {
    margin-right: 0.5rem;
  }
  .mt-sm-2 {
    margin-top: 0.5rem;
  }
  .mb-sm-2 {
    margin-bottom: 0.5rem;
  }
  .p-sm-2 {
    padding: 0.5rem;
  }
  .px-sm-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .py-sm-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .pl-sm-2 {
    padding-left: 0.5rem;
  }
  .pr-sm-2 {
    padding-right: 0.5rem;
  }
  .pt-sm-2 {
    padding-top: 0.5rem;
  }
  .pb-sm-2 {
    padding-bottom: 0.5rem;
  }
  .m-sm-3 {
    margin: 1rem;
  }
  .mx-sm-3 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .my-sm-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .ml-sm-3 {
    margin-left: 1rem;
  }
  .mr-sm-3 {
    margin-right: 1rem;
  }
  .mt-sm-3 {
    margin-top: 1rem;
  }
  .mb-sm-3 {
    margin-bottom: 1rem;
  }
  .p-sm-3 {
    padding: 1rem;
  }
  .px-sm-3 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .py-sm-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .pl-sm-3 {
    padding-left: 1rem;
  }
  .pr-sm-3 {
    padding-right: 1rem;
  }
  .pt-sm-3 {
    padding-top: 1rem;
  }
  .pb-sm-3 {
    padding-bottom: 1rem;
  }
  .m-sm-4 {
    margin: 1.2rem;
  }
  .mx-sm-4 {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
  }
  .my-sm-4 {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
  }
  .ml-sm-4 {
    margin-left: 1.2rem;
  }
  .mr-sm-4 {
    margin-right: 1.2rem;
  }
  .mt-sm-4 {
    margin-top: 1.2rem;
  }
  .mb-sm-4 {
    margin-bottom: 1.2rem;
  }
  .p-sm-4 {
    padding: 1.2rem;
  }
  .px-sm-4 {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
  .py-sm-4 {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
  .pl-sm-4 {
    padding-left: 1.2rem;
  }
  .pr-sm-4 {
    padding-right: 1.2rem;
  }
  .pt-sm-4 {
    padding-top: 1.2rem;
  }
  .pb-sm-4 {
    padding-bottom: 1.2rem;
  }
  .m-sm-5 {
    margin: 1.33rem;
  }
  .mx-sm-5 {
    margin-left: 1.33rem;
    margin-right: 1.33rem;
  }
  .my-sm-5 {
    margin-top: 1.33rem;
    margin-bottom: 1.33rem;
  }
  .ml-sm-5 {
    margin-left: 1.33rem;
  }
  .mr-sm-5 {
    margin-right: 1.33rem;
  }
  .mt-sm-5 {
    margin-top: 1.33rem;
  }
  .mb-sm-5 {
    margin-bottom: 1.33rem;
  }
  .p-sm-5 {
    padding: 1.33rem;
  }
  .px-sm-5 {
    padding-left: 1.33rem;
    padding-right: 1.33rem;
  }
  .py-sm-5 {
    padding-top: 1.33rem;
    padding-bottom: 1.33rem;
  }
  .pl-sm-5 {
    padding-left: 1.33rem;
  }
  .pr-sm-5 {
    padding-right: 1.33rem;
  }
  .pt-sm-5 {
    padding-top: 1.33rem;
  }
  .pb-sm-5 {
    padding-bottom: 1.33rem;
  }
  .m-sm-6 {
    margin: 1.5rem;
  }
  .mx-sm-6 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .my-sm-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .ml-sm-6 {
    margin-left: 1.5rem;
  }
  .mr-sm-6 {
    margin-right: 1.5rem;
  }
  .mt-sm-6 {
    margin-top: 1.5rem;
  }
  .mb-sm-6 {
    margin-bottom: 1.5rem;
  }
  .p-sm-6 {
    padding: 1.5rem;
  }
  .px-sm-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .py-sm-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .pl-sm-6 {
    padding-left: 1.5rem;
  }
  .pr-sm-6 {
    padding-right: 1.5rem;
  }
  .pt-sm-6 {
    padding-top: 1.5rem;
  }
  .pb-sm-6 {
    padding-bottom: 1.5rem;
  }
  .m-sm-7 {
    margin: 2rem;
  }
  .mx-sm-7 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .my-sm-7 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .ml-sm-7 {
    margin-left: 2rem;
  }
  .mr-sm-7 {
    margin-right: 2rem;
  }
  .mt-sm-7 {
    margin-top: 2rem;
  }
  .mb-sm-7 {
    margin-bottom: 2rem;
  }
  .p-sm-7 {
    padding: 2rem;
  }
  .px-sm-7 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .py-sm-7 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .pl-sm-7 {
    padding-left: 2rem;
  }
  .pr-sm-7 {
    padding-right: 2rem;
  }
  .pt-sm-7 {
    padding-top: 2rem;
  }
  .pb-sm-7 {
    padding-bottom: 2rem;
  }
  .m-sm-8 {
    margin: 3rem;
  }
  .mx-sm-8 {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .my-sm-8 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .ml-sm-8 {
    margin-left: 3rem;
  }
  .mr-sm-8 {
    margin-right: 3rem;
  }
  .mt-sm-8 {
    margin-top: 3rem;
  }
  .mb-sm-8 {
    margin-bottom: 3rem;
  }
  .p-sm-8 {
    padding: 3rem;
  }
  .px-sm-8 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .py-sm-8 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .pl-sm-8 {
    padding-left: 3rem;
  }
  .pr-sm-8 {
    padding-right: 3rem;
  }
  .pt-sm-8 {
    padding-top: 3rem;
  }
  .pb-sm-8 {
    padding-bottom: 3rem;
  }
  .m-sm-9 {
    margin: 4rem;
  }
  .mx-sm-9 {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .my-sm-9 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .ml-sm-9 {
    margin-left: 4rem;
  }
  .mr-sm-9 {
    margin-right: 4rem;
  }
  .mt-sm-9 {
    margin-top: 4rem;
  }
  .mb-sm-9 {
    margin-bottom: 4rem;
  }
  .p-sm-9 {
    padding: 4rem;
  }
  .px-sm-9 {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .py-sm-9 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .pl-sm-9 {
    padding-left: 4rem;
  }
  .pr-sm-9 {
    padding-right: 4rem;
  }
  .pt-sm-9 {
    padding-top: 4rem;
  }
  .pb-sm-9 {
    padding-bottom: 4rem;
  }
}
@media screen and (min-width: 768px) {
  .m-md-0 {
    margin: 0rem;
  }
  .mx-md-0 {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .my-md-0 {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  .ml-md-0 {
    margin-left: 0rem;
  }
  .mr-md-0 {
    margin-right: 0rem;
  }
  .mt-md-0 {
    margin-top: 0rem;
  }
  .mb-md-0 {
    margin-bottom: 0rem;
  }
  .p-md-0 {
    padding: 0rem;
  }
  .px-md-0 {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .py-md-0 {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  .pl-md-0 {
    padding-left: 0rem;
  }
  .pr-md-0 {
    padding-right: 0rem;
  }
  .pt-md-0 {
    padding-top: 0rem;
  }
  .pb-md-0 {
    padding-bottom: 0rem;
  }
  .m-md-1 {
    margin: 0.25rem;
  }
  .mx-md-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
  .my-md-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
  .ml-md-1 {
    margin-left: 0.25rem;
  }
  .mr-md-1 {
    margin-right: 0.25rem;
  }
  .mt-md-1 {
    margin-top: 0.25rem;
  }
  .mb-md-1 {
    margin-bottom: 0.25rem;
  }
  .p-md-1 {
    padding: 0.25rem;
  }
  .px-md-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .py-md-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  .pl-md-1 {
    padding-left: 0.25rem;
  }
  .pr-md-1 {
    padding-right: 0.25rem;
  }
  .pt-md-1 {
    padding-top: 0.25rem;
  }
  .pb-md-1 {
    padding-bottom: 0.25rem;
  }
  .m-md-2 {
    margin: 0.5rem;
  }
  .mx-md-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .my-md-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .ml-md-2 {
    margin-left: 0.5rem;
  }
  .mr-md-2 {
    margin-right: 0.5rem;
  }
  .mt-md-2 {
    margin-top: 0.5rem;
  }
  .mb-md-2 {
    margin-bottom: 0.5rem;
  }
  .p-md-2 {
    padding: 0.5rem;
  }
  .px-md-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .py-md-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .pl-md-2 {
    padding-left: 0.5rem;
  }
  .pr-md-2 {
    padding-right: 0.5rem;
  }
  .pt-md-2 {
    padding-top: 0.5rem;
  }
  .pb-md-2 {
    padding-bottom: 0.5rem;
  }
  .m-md-3 {
    margin: 1rem;
  }
  .mx-md-3 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .my-md-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .ml-md-3 {
    margin-left: 1rem;
  }
  .mr-md-3 {
    margin-right: 1rem;
  }
  .mt-md-3 {
    margin-top: 1rem;
  }
  .mb-md-3 {
    margin-bottom: 1rem;
  }
  .p-md-3 {
    padding: 1rem;
  }
  .px-md-3 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .py-md-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .pl-md-3 {
    padding-left: 1rem;
  }
  .pr-md-3 {
    padding-right: 1rem;
  }
  .pt-md-3 {
    padding-top: 1rem;
  }
  .pb-md-3 {
    padding-bottom: 1rem;
  }
  .m-md-4 {
    margin: 1.2rem;
  }
  .mx-md-4 {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
  }
  .my-md-4 {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
  }
  .ml-md-4 {
    margin-left: 1.2rem;
  }
  .mr-md-4 {
    margin-right: 1.2rem;
  }
  .mt-md-4 {
    margin-top: 1.2rem;
  }
  .mb-md-4 {
    margin-bottom: 1.2rem;
  }
  .p-md-4 {
    padding: 1.2rem;
  }
  .px-md-4 {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
  .py-md-4 {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
  .pl-md-4 {
    padding-left: 1.2rem;
  }
  .pr-md-4 {
    padding-right: 1.2rem;
  }
  .pt-md-4 {
    padding-top: 1.2rem;
  }
  .pb-md-4 {
    padding-bottom: 1.2rem;
  }
  .m-md-5 {
    margin: 1.33rem;
  }
  .mx-md-5 {
    margin-left: 1.33rem;
    margin-right: 1.33rem;
  }
  .my-md-5 {
    margin-top: 1.33rem;
    margin-bottom: 1.33rem;
  }
  .ml-md-5 {
    margin-left: 1.33rem;
  }
  .mr-md-5 {
    margin-right: 1.33rem;
  }
  .mt-md-5 {
    margin-top: 1.33rem;
  }
  .mb-md-5 {
    margin-bottom: 1.33rem;
  }
  .p-md-5 {
    padding: 1.33rem;
  }
  .px-md-5 {
    padding-left: 1.33rem;
    padding-right: 1.33rem;
  }
  .py-md-5 {
    padding-top: 1.33rem;
    padding-bottom: 1.33rem;
  }
  .pl-md-5 {
    padding-left: 1.33rem;
  }
  .pr-md-5 {
    padding-right: 1.33rem;
  }
  .pt-md-5 {
    padding-top: 1.33rem;
  }
  .pb-md-5 {
    padding-bottom: 1.33rem;
  }
  .m-md-6 {
    margin: 1.5rem;
  }
  .mx-md-6 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .my-md-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .ml-md-6 {
    margin-left: 1.5rem;
  }
  .mr-md-6 {
    margin-right: 1.5rem;
  }
  .mt-md-6 {
    margin-top: 1.5rem;
  }
  .mb-md-6 {
    margin-bottom: 1.5rem;
  }
  .p-md-6 {
    padding: 1.5rem;
  }
  .px-md-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .py-md-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .pl-md-6 {
    padding-left: 1.5rem;
  }
  .pr-md-6 {
    padding-right: 1.5rem;
  }
  .pt-md-6 {
    padding-top: 1.5rem;
  }
  .pb-md-6 {
    padding-bottom: 1.5rem;
  }
  .m-md-7 {
    margin: 2rem;
  }
  .mx-md-7 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .my-md-7 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .ml-md-7 {
    margin-left: 2rem;
  }
  .mr-md-7 {
    margin-right: 2rem;
  }
  .mt-md-7 {
    margin-top: 2rem;
  }
  .mb-md-7 {
    margin-bottom: 2rem;
  }
  .p-md-7 {
    padding: 2rem;
  }
  .px-md-7 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .py-md-7 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .pl-md-7 {
    padding-left: 2rem;
  }
  .pr-md-7 {
    padding-right: 2rem;
  }
  .pt-md-7 {
    padding-top: 2rem;
  }
  .pb-md-7 {
    padding-bottom: 2rem;
  }
  .m-md-8 {
    margin: 3rem;
  }
  .mx-md-8 {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .my-md-8 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .ml-md-8 {
    margin-left: 3rem;
  }
  .mr-md-8 {
    margin-right: 3rem;
  }
  .mt-md-8 {
    margin-top: 3rem;
  }
  .mb-md-8 {
    margin-bottom: 3rem;
  }
  .p-md-8 {
    padding: 3rem;
  }
  .px-md-8 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .py-md-8 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .pl-md-8 {
    padding-left: 3rem;
  }
  .pr-md-8 {
    padding-right: 3rem;
  }
  .pt-md-8 {
    padding-top: 3rem;
  }
  .pb-md-8 {
    padding-bottom: 3rem;
  }
  .m-md-9 {
    margin: 4rem;
  }
  .mx-md-9 {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .my-md-9 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .ml-md-9 {
    margin-left: 4rem;
  }
  .mr-md-9 {
    margin-right: 4rem;
  }
  .mt-md-9 {
    margin-top: 4rem;
  }
  .mb-md-9 {
    margin-bottom: 4rem;
  }
  .p-md-9 {
    padding: 4rem;
  }
  .px-md-9 {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .py-md-9 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .pl-md-9 {
    padding-left: 4rem;
  }
  .pr-md-9 {
    padding-right: 4rem;
  }
  .pt-md-9 {
    padding-top: 4rem;
  }
  .pb-md-9 {
    padding-bottom: 4rem;
  }
}
@media screen and (min-width: 992px) {
  .m-lg-0 {
    margin: 0rem;
  }
  .mx-lg-0 {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .my-lg-0 {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  .ml-lg-0 {
    margin-left: 0rem;
  }
  .mr-lg-0 {
    margin-right: 0rem;
  }
  .mt-lg-0 {
    margin-top: 0rem;
  }
  .mb-lg-0 {
    margin-bottom: 0rem;
  }
  .p-lg-0 {
    padding: 0rem;
  }
  .px-lg-0 {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .py-lg-0 {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  .pl-lg-0 {
    padding-left: 0rem;
  }
  .pr-lg-0 {
    padding-right: 0rem;
  }
  .pt-lg-0 {
    padding-top: 0rem;
  }
  .pb-lg-0 {
    padding-bottom: 0rem;
  }
  .m-lg-1 {
    margin: 0.25rem;
  }
  .mx-lg-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
  .my-lg-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
  .ml-lg-1 {
    margin-left: 0.25rem;
  }
  .mr-lg-1 {
    margin-right: 0.25rem;
  }
  .mt-lg-1 {
    margin-top: 0.25rem;
  }
  .mb-lg-1 {
    margin-bottom: 0.25rem;
  }
  .p-lg-1 {
    padding: 0.25rem;
  }
  .px-lg-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .py-lg-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  .pl-lg-1 {
    padding-left: 0.25rem;
  }
  .pr-lg-1 {
    padding-right: 0.25rem;
  }
  .pt-lg-1 {
    padding-top: 0.25rem;
  }
  .pb-lg-1 {
    padding-bottom: 0.25rem;
  }
  .m-lg-2 {
    margin: 0.5rem;
  }
  .mx-lg-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .my-lg-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .ml-lg-2 {
    margin-left: 0.5rem;
  }
  .mr-lg-2 {
    margin-right: 0.5rem;
  }
  .mt-lg-2 {
    margin-top: 0.5rem;
  }
  .mb-lg-2 {
    margin-bottom: 0.5rem;
  }
  .p-lg-2 {
    padding: 0.5rem;
  }
  .px-lg-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .py-lg-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .pl-lg-2 {
    padding-left: 0.5rem;
  }
  .pr-lg-2 {
    padding-right: 0.5rem;
  }
  .pt-lg-2 {
    padding-top: 0.5rem;
  }
  .pb-lg-2 {
    padding-bottom: 0.5rem;
  }
  .m-lg-3 {
    margin: 1rem;
  }
  .mx-lg-3 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .my-lg-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .ml-lg-3 {
    margin-left: 1rem;
  }
  .mr-lg-3 {
    margin-right: 1rem;
  }
  .mt-lg-3 {
    margin-top: 1rem;
  }
  .mb-lg-3 {
    margin-bottom: 1rem;
  }
  .p-lg-3 {
    padding: 1rem;
  }
  .px-lg-3 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .py-lg-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .pl-lg-3 {
    padding-left: 1rem;
  }
  .pr-lg-3 {
    padding-right: 1rem;
  }
  .pt-lg-3 {
    padding-top: 1rem;
  }
  .pb-lg-3 {
    padding-bottom: 1rem;
  }
  .m-lg-4 {
    margin: 1.2rem;
  }
  .mx-lg-4 {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
  }
  .my-lg-4 {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
  }
  .ml-lg-4 {
    margin-left: 1.2rem;
  }
  .mr-lg-4 {
    margin-right: 1.2rem;
  }
  .mt-lg-4 {
    margin-top: 1.2rem;
  }
  .mb-lg-4 {
    margin-bottom: 1.2rem;
  }
  .p-lg-4 {
    padding: 1.2rem;
  }
  .px-lg-4 {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
  .py-lg-4 {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
  .pl-lg-4 {
    padding-left: 1.2rem;
  }
  .pr-lg-4 {
    padding-right: 1.2rem;
  }
  .pt-lg-4 {
    padding-top: 1.2rem;
  }
  .pb-lg-4 {
    padding-bottom: 1.2rem;
  }
  .m-lg-5 {
    margin: 1.33rem;
  }
  .mx-lg-5 {
    margin-left: 1.33rem;
    margin-right: 1.33rem;
  }
  .my-lg-5 {
    margin-top: 1.33rem;
    margin-bottom: 1.33rem;
  }
  .ml-lg-5 {
    margin-left: 1.33rem;
  }
  .mr-lg-5 {
    margin-right: 1.33rem;
  }
  .mt-lg-5 {
    margin-top: 1.33rem;
  }
  .mb-lg-5 {
    margin-bottom: 1.33rem;
  }
  .p-lg-5 {
    padding: 1.33rem;
  }
  .px-lg-5 {
    padding-left: 1.33rem;
    padding-right: 1.33rem;
  }
  .py-lg-5 {
    padding-top: 1.33rem;
    padding-bottom: 1.33rem;
  }
  .pl-lg-5 {
    padding-left: 1.33rem;
  }
  .pr-lg-5 {
    padding-right: 1.33rem;
  }
  .pt-lg-5 {
    padding-top: 1.33rem;
  }
  .pb-lg-5 {
    padding-bottom: 1.33rem;
  }
  .m-lg-6 {
    margin: 1.5rem;
  }
  .mx-lg-6 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .my-lg-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .ml-lg-6 {
    margin-left: 1.5rem;
  }
  .mr-lg-6 {
    margin-right: 1.5rem;
  }
  .mt-lg-6 {
    margin-top: 1.5rem;
  }
  .mb-lg-6 {
    margin-bottom: 1.5rem;
  }
  .p-lg-6 {
    padding: 1.5rem;
  }
  .px-lg-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .py-lg-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .pl-lg-6 {
    padding-left: 1.5rem;
  }
  .pr-lg-6 {
    padding-right: 1.5rem;
  }
  .pt-lg-6 {
    padding-top: 1.5rem;
  }
  .pb-lg-6 {
    padding-bottom: 1.5rem;
  }
  .m-lg-7 {
    margin: 2rem;
  }
  .mx-lg-7 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .my-lg-7 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .ml-lg-7 {
    margin-left: 2rem;
  }
  .mr-lg-7 {
    margin-right: 2rem;
  }
  .mt-lg-7 {
    margin-top: 2rem;
  }
  .mb-lg-7 {
    margin-bottom: 2rem;
  }
  .p-lg-7 {
    padding: 2rem;
  }
  .px-lg-7 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .py-lg-7 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .pl-lg-7 {
    padding-left: 2rem;
  }
  .pr-lg-7 {
    padding-right: 2rem;
  }
  .pt-lg-7 {
    padding-top: 2rem;
  }
  .pb-lg-7 {
    padding-bottom: 2rem;
  }
  .m-lg-8 {
    margin: 3rem;
  }
  .mx-lg-8 {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .my-lg-8 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .ml-lg-8 {
    margin-left: 3rem;
  }
  .mr-lg-8 {
    margin-right: 3rem;
  }
  .mt-lg-8 {
    margin-top: 3rem;
  }
  .mb-lg-8 {
    margin-bottom: 3rem;
  }
  .p-lg-8 {
    padding: 3rem;
  }
  .px-lg-8 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .py-lg-8 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .pl-lg-8 {
    padding-left: 3rem;
  }
  .pr-lg-8 {
    padding-right: 3rem;
  }
  .pt-lg-8 {
    padding-top: 3rem;
  }
  .pb-lg-8 {
    padding-bottom: 3rem;
  }
  .m-lg-9 {
    margin: 4rem;
  }
  .mx-lg-9 {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .my-lg-9 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .ml-lg-9 {
    margin-left: 4rem;
  }
  .mr-lg-9 {
    margin-right: 4rem;
  }
  .mt-lg-9 {
    margin-top: 4rem;
  }
  .mb-lg-9 {
    margin-bottom: 4rem;
  }
  .p-lg-9 {
    padding: 4rem;
  }
  .px-lg-9 {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .py-lg-9 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .pl-lg-9 {
    padding-left: 4rem;
  }
  .pr-lg-9 {
    padding-right: 4rem;
  }
  .pt-lg-9 {
    padding-top: 4rem;
  }
  .pb-lg-9 {
    padding-bottom: 4rem;
  }
}
@media screen and (min-width: 1200px) {
  .m-xl-0 {
    margin: 0rem;
  }
  .mx-xl-0 {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .my-xl-0 {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  .ml-xl-0 {
    margin-left: 0rem;
  }
  .mr-xl-0 {
    margin-right: 0rem;
  }
  .mt-xl-0 {
    margin-top: 0rem;
  }
  .mb-xl-0 {
    margin-bottom: 0rem;
  }
  .p-xl-0 {
    padding: 0rem;
  }
  .px-xl-0 {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .py-xl-0 {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  .pl-xl-0 {
    padding-left: 0rem;
  }
  .pr-xl-0 {
    padding-right: 0rem;
  }
  .pt-xl-0 {
    padding-top: 0rem;
  }
  .pb-xl-0 {
    padding-bottom: 0rem;
  }
  .m-xl-1 {
    margin: 0.25rem;
  }
  .mx-xl-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
  .my-xl-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
  .ml-xl-1 {
    margin-left: 0.25rem;
  }
  .mr-xl-1 {
    margin-right: 0.25rem;
  }
  .mt-xl-1 {
    margin-top: 0.25rem;
  }
  .mb-xl-1 {
    margin-bottom: 0.25rem;
  }
  .p-xl-1 {
    padding: 0.25rem;
  }
  .px-xl-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .py-xl-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  .pl-xl-1 {
    padding-left: 0.25rem;
  }
  .pr-xl-1 {
    padding-right: 0.25rem;
  }
  .pt-xl-1 {
    padding-top: 0.25rem;
  }
  .pb-xl-1 {
    padding-bottom: 0.25rem;
  }
  .m-xl-2 {
    margin: 0.5rem;
  }
  .mx-xl-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .my-xl-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .ml-xl-2 {
    margin-left: 0.5rem;
  }
  .mr-xl-2 {
    margin-right: 0.5rem;
  }
  .mt-xl-2 {
    margin-top: 0.5rem;
  }
  .mb-xl-2 {
    margin-bottom: 0.5rem;
  }
  .p-xl-2 {
    padding: 0.5rem;
  }
  .px-xl-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .py-xl-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .pl-xl-2 {
    padding-left: 0.5rem;
  }
  .pr-xl-2 {
    padding-right: 0.5rem;
  }
  .pt-xl-2 {
    padding-top: 0.5rem;
  }
  .pb-xl-2 {
    padding-bottom: 0.5rem;
  }
  .m-xl-3 {
    margin: 1rem;
  }
  .mx-xl-3 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .my-xl-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .ml-xl-3 {
    margin-left: 1rem;
  }
  .mr-xl-3 {
    margin-right: 1rem;
  }
  .mt-xl-3 {
    margin-top: 1rem;
  }
  .mb-xl-3 {
    margin-bottom: 1rem;
  }
  .p-xl-3 {
    padding: 1rem;
  }
  .px-xl-3 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .py-xl-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .pl-xl-3 {
    padding-left: 1rem;
  }
  .pr-xl-3 {
    padding-right: 1rem;
  }
  .pt-xl-3 {
    padding-top: 1rem;
  }
  .pb-xl-3 {
    padding-bottom: 1rem;
  }
  .m-xl-4 {
    margin: 1.2rem;
  }
  .mx-xl-4 {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
  }
  .my-xl-4 {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
  }
  .ml-xl-4 {
    margin-left: 1.2rem;
  }
  .mr-xl-4 {
    margin-right: 1.2rem;
  }
  .mt-xl-4 {
    margin-top: 1.2rem;
  }
  .mb-xl-4 {
    margin-bottom: 1.2rem;
  }
  .p-xl-4 {
    padding: 1.2rem;
  }
  .px-xl-4 {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
  .py-xl-4 {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
  .pl-xl-4 {
    padding-left: 1.2rem;
  }
  .pr-xl-4 {
    padding-right: 1.2rem;
  }
  .pt-xl-4 {
    padding-top: 1.2rem;
  }
  .pb-xl-4 {
    padding-bottom: 1.2rem;
  }
  .m-xl-5 {
    margin: 1.33rem;
  }
  .mx-xl-5 {
    margin-left: 1.33rem;
    margin-right: 1.33rem;
  }
  .my-xl-5 {
    margin-top: 1.33rem;
    margin-bottom: 1.33rem;
  }
  .ml-xl-5 {
    margin-left: 1.33rem;
  }
  .mr-xl-5 {
    margin-right: 1.33rem;
  }
  .mt-xl-5 {
    margin-top: 1.33rem;
  }
  .mb-xl-5 {
    margin-bottom: 1.33rem;
  }
  .p-xl-5 {
    padding: 1.33rem;
  }
  .px-xl-5 {
    padding-left: 1.33rem;
    padding-right: 1.33rem;
  }
  .py-xl-5 {
    padding-top: 1.33rem;
    padding-bottom: 1.33rem;
  }
  .pl-xl-5 {
    padding-left: 1.33rem;
  }
  .pr-xl-5 {
    padding-right: 1.33rem;
  }
  .pt-xl-5 {
    padding-top: 1.33rem;
  }
  .pb-xl-5 {
    padding-bottom: 1.33rem;
  }
  .m-xl-6 {
    margin: 1.5rem;
  }
  .mx-xl-6 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .my-xl-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .ml-xl-6 {
    margin-left: 1.5rem;
  }
  .mr-xl-6 {
    margin-right: 1.5rem;
  }
  .mt-xl-6 {
    margin-top: 1.5rem;
  }
  .mb-xl-6 {
    margin-bottom: 1.5rem;
  }
  .p-xl-6 {
    padding: 1.5rem;
  }
  .px-xl-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .py-xl-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .pl-xl-6 {
    padding-left: 1.5rem;
  }
  .pr-xl-6 {
    padding-right: 1.5rem;
  }
  .pt-xl-6 {
    padding-top: 1.5rem;
  }
  .pb-xl-6 {
    padding-bottom: 1.5rem;
  }
  .m-xl-7 {
    margin: 2rem;
  }
  .mx-xl-7 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .my-xl-7 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .ml-xl-7 {
    margin-left: 2rem;
  }
  .mr-xl-7 {
    margin-right: 2rem;
  }
  .mt-xl-7 {
    margin-top: 2rem;
  }
  .mb-xl-7 {
    margin-bottom: 2rem;
  }
  .p-xl-7 {
    padding: 2rem;
  }
  .px-xl-7 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .py-xl-7 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .pl-xl-7 {
    padding-left: 2rem;
  }
  .pr-xl-7 {
    padding-right: 2rem;
  }
  .pt-xl-7 {
    padding-top: 2rem;
  }
  .pb-xl-7 {
    padding-bottom: 2rem;
  }
  .m-xl-8 {
    margin: 3rem;
  }
  .mx-xl-8 {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .my-xl-8 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .ml-xl-8 {
    margin-left: 3rem;
  }
  .mr-xl-8 {
    margin-right: 3rem;
  }
  .mt-xl-8 {
    margin-top: 3rem;
  }
  .mb-xl-8 {
    margin-bottom: 3rem;
  }
  .p-xl-8 {
    padding: 3rem;
  }
  .px-xl-8 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .py-xl-8 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .pl-xl-8 {
    padding-left: 3rem;
  }
  .pr-xl-8 {
    padding-right: 3rem;
  }
  .pt-xl-8 {
    padding-top: 3rem;
  }
  .pb-xl-8 {
    padding-bottom: 3rem;
  }
  .m-xl-9 {
    margin: 4rem;
  }
  .mx-xl-9 {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .my-xl-9 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .ml-xl-9 {
    margin-left: 4rem;
  }
  .mr-xl-9 {
    margin-right: 4rem;
  }
  .mt-xl-9 {
    margin-top: 4rem;
  }
  .mb-xl-9 {
    margin-bottom: 4rem;
  }
  .p-xl-9 {
    padding: 4rem;
  }
  .px-xl-9 {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .py-xl-9 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .pl-xl-9 {
    padding-left: 4rem;
  }
  .pr-xl-9 {
    padding-right: 4rem;
  }
  .pt-xl-9 {
    padding-top: 4rem;
  }
  .pb-xl-9 {
    padding-bottom: 4rem;
  }
}
.shadow-sm {
  box-shadow: 0 0.5rem 1rem 0 color-mix(in srgb, #ea7793 50%, rgba(0, 0, 0, 0.2) 50%);
}

.shadow-lg {
  box-shadow: 0 25px 70px 0 color-mix(in srgb, #ea7793 50%, rgba(0, 0, 0, 0.2) 50%);
}

.font-size-0 {
  font-size: 0rem;
}

.font-size-1 {
  font-size: 0.25rem;
}

.font-size-2 {
  font-size: 0.5rem;
}

.font-size-3 {
  font-size: 1rem;
}

.font-size-4 {
  font-size: 1.2rem;
}

.font-size-5 {
  font-size: 1.33rem;
}

.font-size-6 {
  font-size: 1.5rem;
}

.font-size-7 {
  font-size: 2rem;
}

.font-size-8 {
  font-size: 3rem;
}

.font-size-9 {
  font-size: 4rem;
}

@media screen and (min-width: 320px) {
  .font-size-xs-0 {
    font-size: 0rem;
  }
  .font-size-xs-1 {
    font-size: 0.25rem;
  }
  .font-size-xs-2 {
    font-size: 0.5rem;
  }
  .font-size-xs-3 {
    font-size: 1rem;
  }
  .font-size-xs-4 {
    font-size: 1.2rem;
  }
  .font-size-xs-5 {
    font-size: 1.33rem;
  }
  .font-size-xs-6 {
    font-size: 1.5rem;
  }
  .font-size-xs-7 {
    font-size: 2rem;
  }
  .font-size-xs-8 {
    font-size: 3rem;
  }
  .font-size-xs-9 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 576px) {
  .font-size-sm-0 {
    font-size: 0rem;
  }
  .font-size-sm-1 {
    font-size: 0.25rem;
  }
  .font-size-sm-2 {
    font-size: 0.5rem;
  }
  .font-size-sm-3 {
    font-size: 1rem;
  }
  .font-size-sm-4 {
    font-size: 1.2rem;
  }
  .font-size-sm-5 {
    font-size: 1.33rem;
  }
  .font-size-sm-6 {
    font-size: 1.5rem;
  }
  .font-size-sm-7 {
    font-size: 2rem;
  }
  .font-size-sm-8 {
    font-size: 3rem;
  }
  .font-size-sm-9 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 768px) {
  .font-size-md-0 {
    font-size: 0rem;
  }
  .font-size-md-1 {
    font-size: 0.25rem;
  }
  .font-size-md-2 {
    font-size: 0.5rem;
  }
  .font-size-md-3 {
    font-size: 1rem;
  }
  .font-size-md-4 {
    font-size: 1.2rem;
  }
  .font-size-md-5 {
    font-size: 1.33rem;
  }
  .font-size-md-6 {
    font-size: 1.5rem;
  }
  .font-size-md-7 {
    font-size: 2rem;
  }
  .font-size-md-8 {
    font-size: 3rem;
  }
  .font-size-md-9 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 992px) {
  .font-size-lg-0 {
    font-size: 0rem;
  }
  .font-size-lg-1 {
    font-size: 0.25rem;
  }
  .font-size-lg-2 {
    font-size: 0.5rem;
  }
  .font-size-lg-3 {
    font-size: 1rem;
  }
  .font-size-lg-4 {
    font-size: 1.2rem;
  }
  .font-size-lg-5 {
    font-size: 1.33rem;
  }
  .font-size-lg-6 {
    font-size: 1.5rem;
  }
  .font-size-lg-7 {
    font-size: 2rem;
  }
  .font-size-lg-8 {
    font-size: 3rem;
  }
  .font-size-lg-9 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 1200px) {
  .font-size-xl-0 {
    font-size: 0rem;
  }
  .font-size-xl-1 {
    font-size: 0.25rem;
  }
  .font-size-xl-2 {
    font-size: 0.5rem;
  }
  .font-size-xl-3 {
    font-size: 1rem;
  }
  .font-size-xl-4 {
    font-size: 1.2rem;
  }
  .font-size-xl-5 {
    font-size: 1.33rem;
  }
  .font-size-xl-6 {
    font-size: 1.5rem;
  }
  .font-size-xl-7 {
    font-size: 2rem;
  }
  .font-size-xl-8 {
    font-size: 3rem;
  }
  .font-size-xl-9 {
    font-size: 4rem;
  }
}
.font-thin {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.text-lg {
  font-size: var(--spacer-5);
}

.text-center {
  text-align: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.radius-0 {
  border-radius: 0rem;
}

.radius-1 {
  border-radius: 0.25rem;
}

.radius-2 {
  border-radius: 0.5rem;
}

.radius-3 {
  border-radius: 1rem;
}

.radius-4 {
  border-radius: 1.2rem;
}

.radius-5 {
  border-radius: 1.33rem;
}

.radius-6 {
  border-radius: 1.5rem;
}

.radius-7 {
  border-radius: 2rem;
}

.radius-8 {
  border-radius: 3rem;
}

.radius-9 {
  border-radius: 4rem;
}

.radius-50 {
  border-radius: 50%;
  overflow: hidden;
}

.muted {
  opacity: 50%;
}

.button-group {
  display: inline-flex;
  border: 1px solid #cfd4e7;
  border-radius: 0.5rem;
  background-color: #fefefe;
}
.button-group .button {
  border: none;
  border-radius: 0;
}
.button-group .button:first-child {
  border-right: 1px solid #cfd4e7;
}

button {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.button {
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px solid #cfd4e7;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
  margin: 0;
  opacity: 1; /* required on iOS */
}
input:disabled,
textarea:disabled {
  opacity: 1; /* required on iOS */
}

input[type=text],
input[type=number],
input[type=email],
input[type=tel],
textarea {
  cursor: text;
  background-color: transparent;
  border-width: 0;
  border-radius: 0.5rem;
  border: 1px solid #cfd4e7;
  width: 100%;
  padding: 0.5rem;
}
input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  box-shadow: 0 0.3333333333rem 1rem 0 color-mix(in srgb, #ea7793 10%, rgba(0, 0, 0, 0.1) 50%);
  border: 1px solid #ea7793;
  outline: none;
}
input[type=text]::-moz-placeholder, input[type=number]::-moz-placeholder, input[type=email]::-moz-placeholder, input[type=tel]::-moz-placeholder, textarea::-moz-placeholder {
  color: #cfd4e7;
}
input[type=text]::placeholder,
input[type=number]::placeholder,
input[type=email]::placeholder,
input[type=tel]::placeholder,
textarea::placeholder {
  color: #cfd4e7;
}

.blackout {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background: #ea7793;
  background: rgba(234, 119, 147, 0.75);
}

.no-select {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.modal-container {
  background: #ea7793;
  background: rgba(234, 119, 147, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal-content {
  max-width: 100%;
}

.display-none {
  display: none;
}

.fade-in {
  animation-duration: 0.5s;
  animation-name: fadein;
  animation-iteration-count: 1;
  transition-timing-function: ease;
}

.fade-out {
  animation-duration: 0.5s;
  animation-name: fadein;
  animation-iteration-count: 1;
  transition-timing-function: ease;
  animation-direction: reverse;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.slow-flashing {
  animation-duration: 1s;
  animation-name: flashing;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes flashing {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
.spin-in {
  animation-duration: 0.5s;
  animation-name: spinin;
  animation-iteration-count: 1;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.spin-out {
  animation-duration: 0.5s;
  animation-name: spinin;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-direction: reverse;
}

@keyframes spinin {
  from {
    rotate: 360deg;
  }
  to {
    rotate: 0deg;
  }
}
@keyframes shake {
  10%, 90% {
    rotate: -1deg;
  }
  20%, 80% {
    rotate: 2deg;
  }
  30%, 50%, 70% {
    rotate: -4deg;
  }
  40%, 60% {
    rotate: 4deg;
  }
}
html {
  box-sizing: border-box;
  font-size: 16px;
}

html,
body {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --slide-down-distance: -7rem;
  --avatar-width-mult: 3;
  --avatar-font-mult: 5.5;
}

body {
  font-family: "Inter", "Noto Color Emoji", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: #ea7793;
}

h1 {
  font-weight: 700;
}

a {
  text-decoration: none;
}

::-moz-selection {
  background: #f6c4d1;
}

::selection {
  background: #f6c4d1;
}

.logo {
  font-size: 4rem;
  animation-duration: 0.8s;
  animation-name: logoanim;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.artboard {
  background: #fefefe;
  border-radius: 1.2rem;
}

.friend:hover {
  background-color: #f2f2fb;
}
.friend-editable:hover {
  background-color: #fbe6ec !important;
}
.friend form input::-moz-placeholder {
  color: #545477;
}
.friend form input::placeholder {
  color: #545477;
}
.friend button .emoji {
  transition: all 0.3s ease;
}
.friend button:hover .emoji {
  animation-duration: 1s;
  animation-name: shake;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  scale: 1.2;
}
.friend input[type=text],
.friend input[type=number],
.friend input[type=email],
.friend input[type=tel],
.friend textarea {
  box-sizing: border-box;
  border: none;
  padding: inherit;
  width: 100%;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #f095ab;
  box-shadow: none;
  color: #d74467;
}
.friend input[type=text]:hover,
.friend input[type=number]:hover,
.friend input[type=email]:hover,
.friend input[type=tel]:hover,
.friend textarea:hover {
  cursor: text;
}
.friend input[type=text]:disabled,
.friend input[type=number]:disabled,
.friend input[type=email]:disabled,
.friend input[type=tel]:disabled,
.friend textarea:disabled {
  border: none;
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
  color: #101041;
}
.friend input[type=text]:disabled[id^=number-input],
.friend input[type=number]:disabled[id^=number-input],
.friend input[type=email]:disabled[id^=number-input],
.friend input[type=tel]:disabled[id^=number-input],
.friend textarea:disabled[id^=number-input] {
  color: #707294;
}
.friend input[type=text]:focus,
.friend input[type=number]:focus,
.friend input[type=email]:focus,
.friend input[type=tel]:focus,
.friend textarea:focus {
  box-shadow: none;
  animation-duration: 1s;
  animation-name: flashing;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
.friend .avatar {
  aspect-ratio: 1/1;
  overflow: hidden;
  background: #f2f2fb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: calc(7rem - 1rem * var(--avatar-width-mult));
  font-size: calc(7rem - 1rem * var(--avatar-font-mult));
  box-shadow: 0 0 0 2px #cfd4e7 inset, 0 0 0 4px #fefefe inset, 0 0 0 6px #e9e9f1 inset;
}
@media screen and (min-width: 576px) {
  .friend .avatar {
    --avatar-width-mult: 2;
    --avatar-font-mult: 5;
  }
}
@media screen and (min-width: 768px) {
  .friend .avatar {
    --avatar-width-mult: 2;
    --avatar-font-mult: 5;
  }
}
@media screen and (min-width: 992px) {
  .friend .avatar {
    --avatar-width-mult: 1;
    --avatar-font-mult: 4;
  }
}
.friend .avatar-editable {
  box-shadow: 0 0 0 2px #f4b7c6 inset, 0 0 0 4px #fefefe inset, 0 0 0 6px #e9e9f1 inset !important;
}
.friend .avatar-editable:hover {
  cursor: pointer;
}
.friend .avatar text {
  font-family: "Inter", "Noto Color Emoji", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.friend .avatar svg {
  width: 100%;
}
.friend .avatar img {
  max-width: 5rem;
}

#friend-form #friend-form-name {
  position: relative;
}
#friend-form #friend-form-name .emoji {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  font-size: inherit;
  line-height: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#friend-form #friend-form-name .emoji:hover {
  cursor: pointer;
}

#save-button {
  background: #57e2ef;
  border-color: color-mix(in srgb, #57e2ef 80%, #000);
}
#save-button:hover {
  background: color-mix(in srgb, #57e2ef 80%, #fff);
  border-color: color-mix(in srgb, #57e2ef 90%, #000);
}

#friend-form-message {
  color: #ea7793;
}

#clear-list {
  color: #d74467;
}
#clear-list:hover {
  color: color-mix(in srgb, #d74467 50%, #500);
}
#clear-list:before {
  content: attr(data-before);
}

#emoji-picker {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 1rem);
  font-size: calc(1.33rem + 1vw);
}
#emoji-picker ul {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
@media screen and (min-width: 576px) {
  #emoji-picker ul {
    grid-template-columns: repeat(10, 1fr);
  }
}
@media screen and (min-width: 768px) {
  #emoji-picker ul {
    grid-template-columns: repeat(12, 1fr);
  }
}
#emoji-picker ul li {
  cursor: pointer;
  scale: 0.9;
}
#emoji-picker ul li:hover {
  animation-duration: 1s;
  animation-name: shake;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  scale: 1.1;
}

.slide-down {
  animation-duration: 0.5s;
  animation-name: slideDown;
  animation-iteration-count: 1;
  transition-timing-function: ease;
}

.slide-up {
  animation-duration: 0.5s;
  animation-name: slideDown;
  animation-direction: reverse;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition-timing-function: ease;
}

@keyframes logoanim {
  from {
    rotate: -25deg;
  }
  to {
    rotate: 25deg;
  }
}
@keyframes slideDown {
  from {
    margin-top: var(--slide-down-distance);
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  to {
    opacity: 1;
    margin-top: 0 inherit;
  }
}/*# sourceMappingURL=style.css.map */