/* Variables */
/* Fonts */
/* Colors */
.transition {
  transition: all 0.3s ease;
}

.container {
  width: 100%;
}

.height-full {
  height: 100%;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.grow {
  flex-grow: 1;
}

.shrink {
  flex-shrink: 1;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.justify-self-end {
  justify-self: end;
}

.color-pink-1 {
  color: #fbe6ec;
}

.bg-pink-1 {
  background-color: #fbe6ec;
}

.color-pink-2 {
  color: #f6c4d1;
}

.bg-pink-2 {
  background-color: #f6c4d1;
}

.color-pink-3 {
  color: #f4b7c6;
}

.bg-pink-3 {
  background-color: #f4b7c6;
}

.color-pink-4 {
  color: #f095ab;
}

.bg-pink-4 {
  background-color: #f095ab;
}

.color-pink-5 {
  color: #ea7793;
}

.bg-pink-5 {
  background-color: #ea7793;
}

.color-gray-1 {
  color: #f2f2fb;
}

.bg-gray-1 {
  background-color: #f2f2fb;
}

.color-gray-2 {
  color: #e9e9f1;
}

.bg-gray-2 {
  background-color: #e9e9f1;
}

.color-gray-3 {
  color: #cfd4e7;
}

.bg-gray-3 {
  background-color: #cfd4e7;
}

.color-gray-4 {
  color: #545477;
}

.bg-gray-4 {
  background-color: #545477;
}

.color-gray-5 {
  color: #101041;
}

.bg-gray-5 {
  background-color: #101041;
}

.color-red {
  color: #d74467;
}

.bg-red {
  background-color: #d74467;
}

.color-cyan {
  color: #57e2ef;
}

.bg-cyan {
  background-color: #57e2ef;
}

.color-white {
  color: #fefefe;
}

.bg-white {
  background-color: #fefefe;
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.m-1 {
  margin: 0.25rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.p-1 {
  padding: 0.25rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.p-2 {
  padding: 0.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.m-3 {
  margin: 1rem;
}

.mx-3 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ml-3 {
  margin-left: 1rem;
}

.mr-3 {
  margin-right: 1rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.p-3 {
  padding: 1rem;
}

.px-3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pl-3 {
  padding-left: 1rem;
}

.pr-3 {
  padding-right: 1rem;
}

.pt-3 {
  padding-top: 1rem;
}

.pb-3 {
  padding-bottom: 1rem;
}

.m-4 {
  margin: 1.33rem;
}

.mx-4 {
  margin-left: 1.33rem;
  margin-right: 1.33rem;
}

.my-4 {
  margin-top: 1.33rem;
  margin-bottom: 1.33rem;
}

.ml-4 {
  margin-left: 1.33rem;
}

.mr-4 {
  margin-right: 1.33rem;
}

.mt-4 {
  margin-top: 1.33rem;
}

.mb-4 {
  margin-bottom: 1.33rem;
}

.p-4 {
  padding: 1.33rem;
}

.px-4 {
  padding-left: 1.33rem;
  padding-right: 1.33rem;
}

.py-4 {
  padding-top: 1.33rem;
  padding-bottom: 1.33rem;
}

.pl-4 {
  padding-left: 1.33rem;
}

.pr-4 {
  padding-right: 1.33rem;
}

.pt-4 {
  padding-top: 1.33rem;
}

.pb-4 {
  padding-bottom: 1.33rem;
}

.m-5 {
  margin: 1.5rem;
}

.mx-5 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-5 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.ml-5 {
  margin-left: 1.5rem;
}

.mr-5 {
  margin-right: 1.5rem;
}

.mt-5 {
  margin-top: 1.5rem;
}

.mb-5 {
  margin-bottom: 1.5rem;
}

.p-5 {
  padding: 1.5rem;
}

.px-5 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-5 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pl-5 {
  padding-left: 1.5rem;
}

.pr-5 {
  padding-right: 1.5rem;
}

.pt-5 {
  padding-top: 1.5rem;
}

.pb-5 {
  padding-bottom: 1.5rem;
}

.m-6 {
  margin: 2rem;
}

.mx-6 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-6 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.ml-6 {
  margin-left: 2rem;
}

.mr-6 {
  margin-right: 2rem;
}

.mt-6 {
  margin-top: 2rem;
}

.mb-6 {
  margin-bottom: 2rem;
}

.p-6 {
  padding: 2rem;
}

.px-6 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-6 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pl-6 {
  padding-left: 2rem;
}

.pr-6 {
  padding-right: 2rem;
}

.pt-6 {
  padding-top: 2rem;
}

.pb-6 {
  padding-bottom: 2rem;
}

.m-7 {
  margin: 3rem;
}

.mx-7 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-7 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.ml-7 {
  margin-left: 3rem;
}

.mr-7 {
  margin-right: 3rem;
}

.mt-7 {
  margin-top: 3rem;
}

.mb-7 {
  margin-bottom: 3rem;
}

.p-7 {
  padding: 3rem;
}

.px-7 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-7 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pl-7 {
  padding-left: 3rem;
}

.pr-7 {
  padding-right: 3rem;
}

.pt-7 {
  padding-top: 3rem;
}

.pb-7 {
  padding-bottom: 3rem;
}

.m-8 {
  margin: 4rem;
}

.mx-8 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.my-8 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.ml-8 {
  margin-left: 4rem;
}

.mr-8 {
  margin-right: 4rem;
}

.mt-8 {
  margin-top: 4rem;
}

.mb-8 {
  margin-bottom: 4rem;
}

.p-8 {
  padding: 4rem;
}

.px-8 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py-8 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.pl-8 {
  padding-left: 4rem;
}

.pr-8 {
  padding-right: 4rem;
}

.pt-8 {
  padding-top: 4rem;
}

.pb-8 {
  padding-bottom: 4rem;
}

.shadow-sm {
  box-shadow: 0 0.5rem 1rem 0 color-mix(in srgb, #ea7793 50%, rgba(0, 0, 0, 0.2) 50%);
}

.shadow-lg {
  box-shadow: 0 25px 70px 0 color-mix(in srgb, #ea7793 50%, rgba(0, 0, 0, 0.2) 50%);
}

.font-size-1 {
  font-size: 0.25rem;
}

.font-size-2 {
  font-size: 0.5rem;
}

.font-size-3 {
  font-size: 1rem;
}

.font-size-4 {
  font-size: 1.33rem;
}

.font-size-5 {
  font-size: 1.5rem;
}

.font-size-6 {
  font-size: 2rem;
}

.font-size-7 {
  font-size: 3rem;
}

.font-size-8 {
  font-size: 4rem;
}

.font-bold {
  font-weight: 700;
}

.text-lg {
  font-size: var(--spacer-5);
}

.text-center {
  text-align: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.radius-1 {
  border-radius: 0.25rem;
}

.radius-2 {
  border-radius: 0.5rem;
}

.radius-3 {
  border-radius: 1rem;
}

.radius-4 {
  border-radius: 1.33rem;
}

.radius-5 {
  border-radius: 1.5rem;
}

.radius-6 {
  border-radius: 2rem;
}

.radius-7 {
  border-radius: 3rem;
}

.radius-8 {
  border-radius: 4rem;
}

.radius-50 {
  border-radius: 50%;
  overflow: hidden;
}

.muted {
  opacity: 50%;
}

.button-group {
  display: inline-flex;
  border: 1px solid #cfd4e7;
  border-radius: 0.5rem;
  background-color: #fefefe;
}
.button-group .button {
  border: none;
  border-radius: 0;
}
.button-group .button:first-child {
  border-right: 1px solid #cfd4e7;
}

.button {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  border: 1px solid #cfd4e7;
}

input[type=text],
input[type=number],
input[type=email],
input[type=tel],
textarea {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px solid #cfd4e7;
  padding: 0.5rem;
}
input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  box-shadow: 0 0.3333333333rem 1rem 0 color-mix(in srgb, #ea7793 10%, rgba(0, 0, 0, 0.1) 50%);
  border: 1px solid #ea7793;
  outline: none;
}
input[type=text]::-moz-placeholder, input[type=number]::-moz-placeholder, input[type=email]::-moz-placeholder, input[type=tel]::-moz-placeholder, textarea::-moz-placeholder {
  color: #cfd4e7;
}
input[type=text]::placeholder,
input[type=number]::placeholder,
input[type=email]::placeholder,
input[type=tel]::placeholder,
textarea::placeholder {
  color: #cfd4e7;
}

.blackout {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background: #ea7793;
  background: rgba(234, 119, 147, 0.75);
}

.no-select {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.modal-container {
  background: #ea7793;
  background: rgba(234, 119, 147, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal-content {
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.display-none {
  display: none;
}

.fade-in {
  animation-duration: 0.5s;
  animation-name: fadein;
  animation-iteration-count: 1;
  transition-timing-function: ease;
}

.fade-out {
  animation-duration: 0.5s;
  animation-name: fadein;
  animation-iteration-count: 1;
  transition-timing-function: ease;
  animation-direction: reverse;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.slow-flashing {
  animation-duration: 1s;
  animation-name: flashing;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes flashing {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
html {
  box-sizing: border-box;
  font-size: 16px;
}

html,
body {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Inter", "Noto Color Emoji", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: #ea7793;
}

h1 {
  font-weight: 700;
}

a {
  text-decoration: none;
}

::-moz-selection {
  background: #f6c4d1;
}

::selection {
  background: #f6c4d1;
}

.logo {
  font-size: 3rem;
  animation-duration: 0.8s;
  animation-name: logoanim;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.artboard {
  background: #fefefe;
  max-width: 768px;
  border-radius: 1.33rem;
}

.friend {
  height: 7rem;
}
.friend:hover {
  background-color: #f2f2fb;
}
.friend input[type=text],
.friend input[type=number],
.friend input[type=email],
.friend input[type=tel],
.friend textarea {
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #f095ab;
  box-shadow: none;
  margin: 0;
  color: #d74467;
}
.friend input[type=text]:hover,
.friend input[type=number]:hover,
.friend input[type=email]:hover,
.friend input[type=tel]:hover,
.friend textarea:hover {
  cursor: text;
}
.friend input[type=text]:disabled,
.friend input[type=number]:disabled,
.friend input[type=email]:disabled,
.friend input[type=tel]:disabled,
.friend textarea:disabled {
  border: none;
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
  color: #101041;
}
.friend input[type=text]:focus,
.friend input[type=number]:focus,
.friend input[type=email]:focus,
.friend input[type=tel]:focus,
.friend textarea:focus {
  box-shadow: none;
  animation-duration: 1s;
  animation-name: flashing;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
.friend .avatar {
  width: 5rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  background: #f2f2fb;
  box-shadow: 0 0 0 2px #f4b7c6 inset, 0 0 0 4px #fefefe inset, 0 0 0 6px #cfd4e7 inset;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.friend .avatar text {
  font-family: "Inter", "Noto Color Emoji", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.friend .avatar svg {
  width: 100%;
}
.friend .avatar img {
  max-width: 5rem;
}

#clear-list {
  color: #d74467;
}
#clear-list:hover {
  color: color-mix(in srgb, #d74467 50%, #500);
}
#clear-list:before {
  content: attr(data-before);
}

.slide-down {
  animation-duration: 0.5s;
  animation-name: slideDown;
  animation-iteration-count: 1;
  transition-timing-function: ease;
}

.slide-up {
  animation-duration: 0.5s;
  animation-name: slideDown;
  animation-direction: reverse;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition-timing-function: ease;
}

@keyframes logoanim {
  from {
    rotate: -25deg;
  }
  to {
    rotate: 25deg;
  }
}
@keyframes slideDown {
  from {
    margin-top: -7rem;
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  to {
    opacity: 1;
    margin-top: 0 inherit;
  }
}/*# sourceMappingURL=style.css.map */