@use "variables" as *;

@mixin background-opacity($color, $opacity) {
  background: $color;
  background: rgba($color, $opacity);
}

@mixin padding($level) {
  padding: $base-size * map-get($levels, $level);
}

@mixin border-radius($level) {
  border-radius: $base-size * map-get($levels, $level);
}

@mixin flashing($speed) {
  animation-duration: $speed;
  animation-name: flashing;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@mixin shake($speed) {
  animation-duration: $speed;
  animation-name: shake;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@mixin transition(
  $property: all,
  $duration: $transition-duration,
  $interpolation: ease
) {
  transition: $property $transition-duration $interpolation;
}
