@use "sass:map";
@use "sass:meta";
@use "variables" as *;
@use "mixins" as *;
@use "utilities";

// $vars: meta.module-variables("variables");

// Functions
// @function css-var($name) {
//   $fallback: map.get($vars, $name);
//   @return var(--#{$name}, $fallback);
// }

// Variables
// :root {
//   @each $name, $value in $vars {
//     --#{$name}: #{$value};
//   }
// }

// Reset
html {
  box-sizing: border-box;
  font-size: 16px;
}

html,
body {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

// Custom styles
body {
  font-family: $font-family;
  background: map-get($colors, "pink-5");
}

h1 {
  font-weight: 700;
}

a {
  text-decoration: none;
}

::selection {
  background: map-get($colors, "pink-2");
}

.logo {
  font-size: $font-size-base * 3;
  animation-duration: 0.8s;
  animation-name: logoanim;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.artboard {
  background: map-get($colors, "white");
  max-width: map-get($breakpoints, "md");
  @include border-radius(4);
}

.friend {
  height: $friend-list-item-height;
  // background-color: map-get($colors, "white");
  &:hover {
    background-color: map-get($colors, "gray-1");
  }

  button {
    .emoji {
      @include transition();
    }
    &:hover {
      .emoji {
        @include shake($animation-duration * 2);
        scale: 1.2;
      }
    }
  }
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  textarea {
    box-sizing: border-box;
    border: none;
    padding: 0;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: map-get($colors, "pink-4");
    box-shadow: none;
    margin: 0;
    color: map-get($colors, "red");

    &:hover {
      cursor: text;
    }
    &:disabled {
      border: none;
      text-decoration: dashed;
      color: map-get($colors, "gray-5");
      &[id^="number-input"] {
        color: map-get($colors, "gray-6");
      }
    }
    &:focus {
      box-shadow: none;
      @include flashing($animation-duration * 2);
    }
  }

  .avatar {
    width: calc($friend-list-item-height - $friend-list-item-padding * 2);
    aspect-ratio: 1 / 1;
    overflow: hidden;
    background: map-get($colors, "gray-1");
    box-shadow: 0 0 0 2px map-get($colors, "pink-3") inset,
      0 0 0 4px map-get($colors, "white") inset,
      0 0 0 6px map-get($colors, "gray-3") inset;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc($friend-list-item-height - $friend-list-item-padding * 4);

    & text {
      font-family: $font-family;
    }
    & svg {
      width: 100%;
    }
    & img {
      max-width: calc($friend-list-item-height - $friend-list-item-padding * 2);
    }
  }
}

#clear-list {
  color: map-get($colors, "red");
  &:hover {
    color: color-mix(in srgb, map-get($colors, "red") 50%, #500);
  }
  &:before {
    content: attr(data-before);
  }
}

.slide-down {
  animation-duration: $animation-duration;
  animation-name: slideDown;
  animation-iteration-count: 1;
  transition-timing-function: ease;
}

.slide-up {
  animation-duration: $animation-duration;
  animation-name: slideDown;
  animation-direction: reverse;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition-timing-function: ease;
}

@keyframes logoanim {
  from {
    rotate: -25deg;
  }

  to {
    rotate: 25deg;
  }
}

@keyframes slideDown {
  from {
    margin-top: -$friend-list-item-height;
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  to {
    opacity: 1;
    margin-top: 0 inherit;
  }
}
